.catalogContainer{
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
  height: 300px;
}

.catalogItem{
  word-break: break-word;
  width: 25%;
  margin: 20px;
}

.rowContainer{
  display: flex;
  justify-content: left;
}

.cardGrid{
  overflow-y: scroll;
}