.container {
  padding: 2rem;
  background-color: #1b1c1d;
}

.navbarContainer{
  display: flex;
  justify-content: space-between;
}

.navLink{
  font-family: 'Press Start 2P';
}

.logoTitle{
  font-family: 'Press Start 2P';
  font-size: 40px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
