.container {
  background-color: #1b1c1d;
  padding: 20px;
}

.navbarContainer{
  display: flex;
  justify-content: space-between;
}

.navLink{
  font-family: 'Press Start 2P';
}

.logoTitle{
  font-family: 'Press Start 2P';
  font-size: 40px;
  cursor: pointer;
}

.carousel{
  margin: 0;
  padding: 0;
}

.cardContainer{
  background-color: white;
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
}

.card{
  width: 25%;
  height: 150px;
  border: 1px solid black;
  padding: 30px;
  margin: 0 30px;
}

.cardTitle{
  font-family: 'Press Start 2P';
  font-size: 24px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
